/* CSS Entry Point */
$side-bar-width: 300px;
$blue-font: #1E91B8;
$grey-cart: #666666;
$product-border: #E1E3DF;
$seller: #9D9A9D;
$price: #7FC01D;
$background: #F5F5F1;
$search-button-blue: #40A7C7;
$nav-font: #777784;
////Problem: link from local directory/////
////Sol: link from URL//////

////////// SIGN-IN/CART ICON STYLING ///////

////////// ETSY/SEARCHBAR STYLING ///////

header  {
	border-bottom: .5px solid lighten($grey-cart, 30%);
	nav {
	margin: 0 30px;
		ul{
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
		font-family: Helvetica;
		font-size: .95em;
		// font-weight: lighter;
		letter-spacing: .4px;
		color: $nav-font;
		}
		}
	}
	.top-header {
	// border: 2px solid red;
	border-bottom: .5px solid lighten($grey-cart, 30%);
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	}
	.top-header-left {
	// border: 1px solid blue;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	line-height: 10px;
		h1 {
		// border: 2px solid black;
		margin-left: 35px;
		font-family: 'Inika', serif;
		font-size: 2.35em;
		font-weight: lighter;
		color: #F06600;
		display: inline-block;
		}
		form {
		// border: 2px solid black;
		border: .3px solid lighten($grey-cart, 25%);
		border-radius: 4px;
		overflow: hidden;
		display: inline-block;

		//*** Trick to center horizontally:
		//*** after applying flex box, 
		//*** manipulate margins. Awesome! 

		margin: auto 0px auto 20px;
		input[type="text"] {
		///////**************BOX SHADOW**************
		float:left;
		border: none;
		// border: 1px solid red;
		padding: 6px;
		width: 300px;
		}
		input[placeholder="artichoke"]{
		font-family: Helvetica;
		font-size: 14px;
		font-weight: lighter;
		letter-spacing: .6px;
		//******Change font color???????*************//
		//******Lighten box shadow???????*************//
		padding: 8px 0px 8px 15px;
		}
		input[type="button"] {
		// padding: 0;
		float: right;
		// border: 1px solid green;
		border: none;
		background-color: $search-button-blue;
		padding: 8px 20px;
		font: Arial;
		font-size: 14px;
		font-weight: bolder;
		color: white;
		}
		}
	}
	.cart {
	// border: 1px solid blue;
	width: 300px;	
	display: flex;
	flex-direction: row;
	}
	.sell-register {
	// float: right;
	// border: 2px solid red;
	font-family: 'Lato', sans-serif;
	font-size: .95em;
	font-weight: lighter;
	letter-spacing: .5px;
	color: $blue-font;
	display: inline-block;
	display: flex;
	flex-direction: row;

		p:first-child {
		// border: 1px solid red;
		padding: 7px;
		}
		p:nth-child(2) {
		// border: 1px solid black;
		padding: 7px;
		}
		p:last-child { // "sign in"
		border: 1px solid $blue-font;
		display: inline-block; 
		border-radius: 4px;
		padding: 7px;
		}
		} // end of sell-register
	.cart-icon p {
	// border: 1px solid red;
	display: inline-block;
	margin: 0;
	padding: 25px 10px;
	} // end of cart-icon
} // end of header


////////// MAIN LAYOUT ////////
.app {
	// width: 1100px;
	margin: auto;
}

body {
	margin: 0;
}

header {
	// background: lighten(green, 70%);
	width: 100%;
}

.content {
	width: 1100px;
	margin: auto;
	background: lighten(lime, 40%);
}

footer {
	background: darken(white, 10%);
}

//////////// LAYOUT///////////////
aside {
	float: left;
	width: $side-bar-width;
}

main {
	float: right;
	width: calc(100% - #{$side-bar-width});
}

footer {
	clear: both;
}
////////////////////////

.content {
	// border: 2px solid red;
	overflow: hidden;
	aside {
	background-color: $background;
	}
	main {
	background-color: $background;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}
}

//listing styling
.listing {
	border: 1px solid $product-border;
	border-radius: 5px;
	background: white;
	margin: 10px;
	width: 226.1px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: .8em;
	overflow: hidden; //hide pic corners
	&:hover {
	content: url(http://fillmurray.com/200/300);
	}
	span:before {
	content: "$";
	}
	span:after {
	content: " USD";
	}
	.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 4px;
	}
	.seller {
	color: $seller;
	// border: 1px solid blue;
	display: inline;
	font-size: .9em;
	padding-bottom: 4px;
	padding-left: 5px;
	// padding-right: 5px;
	}
	.price {
	color: $price;
	// border: 1px solid green;
	display: inline;
	font-size: .9em;
	font-weight: bolder;
	float: right;
	padding-bottom: 4px;
	// padding-left: 5px;
	padding-right: 5px;
	}
}



