/* CSS Entry Point */
$side-bar-width: 300px;
$blue-font: #1E91B8;
$grey-cart: #666666;
$product-border: #E1E3DF;
$seller: #9D9A9D;
$price: #7FC01D;
$background: #F5F5F1;

.app {
	width: 950px;
	margin: auto;
}

body {
	margin: 0;
}

header, footer {
	background: darken(white, 10%);
}

// LAYOUT///////////////
aside {
	float: left;
	width: $side-bar-width;
}

main {
	float: right;
	width: calc(100% - #{$side-bar-width});
}

footer {
	clear: both;
}
////////////////////////

header  {
	h1 {
	// border: 2px solid red;
	font-family: 'Inika', serif;
	font-size: 3em;
	font-weight: lighter;
	color: #F06600;
	}
	.sell-register {
	float: right;
	// border: 2px solid red;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	color: $blue-font;
		p:last-child {
		border: 1px solid $blue-font;
		display: inline-block; 
		}
	}
}

.content {
	aside {
		background-color: pink;
	}
	main {
		background-color: $background;
		display: flex;
		flex-wrap: wrap;
	}
}

//listing styling
.listing {
	border: 1px solid $product-border;
	margin: 20px;
	width: 170px;
	font-family: Helvetica;
	font-weight: lighter;
	font-size: .8em;
	.listing-info {
	padding: 4px;
	}
	span:before {
	content: "$";
	}
	span:after {
	content: " USD";
	}
	.title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	}
	.seller {
	color: $seller;
	}
	.price {
	color: $price;
	}
}



